body, h1, h2 {
	background-image: url(https://aspcodeprod.blob.core.windows.net/school-dev/4907157.jpg);
	background-size: contain;
	background-repeat: no-repeat;
    color: cadetblue;    
}

.grad{
    height: 400px;
    background-image: linear-gradient(red, yellow); 
}
