** Insert your code here **/

/*********** READ ONLY BLOCK ******
You CAN NOT UPDATE anything from here on,
only add lines of code on top of this lines
**/

body {
	color: blue;
}

*{
    color: blue;
}

ul li,
ol li {
	color: green;
}

.redColor{
    color: red;
}

.setColor1{
    background-color: green;
}

tr:nth-child(odd){
    background-color: yellow;
}

